.featured{
    padding: 2rem 3.75rem;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); 
}

.featured-container{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
.featured__restaurant-name{
    font-size: 3.75rem;
    border-bottom: 2px solid darkgray; 
    padding-bottom: 1.5rem;
}
.featured__restaurant--content{
    padding-bottom: 8px;
}
.featured__images{
    width: 20rem;
    height: 12rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
}
